{% extends "skeleton.html" %}
{% block body %}

<div class="card">
<div class="card-header">
<a class="btn btn-outline-success btn-sm float-right" href="/certificate/{{ pagedata['certificate'].id }}/add"><i class="fa fa-plus"></i></a>
<a class="btn btn-outline-secondary btn-sm" href="/certificates"><i class="fa fa-chevron-left"></i></a>
Сертификат [{{ pagedata['certificate'].name }}]</div>
<div class="card-body">

<div class="row">
<div class="col">
{% if pagedata['certificate'].parent %}
<a class="btn btn-outline-primary" href="/certificate/{{ pagedata['certificate'].parent.id }}"><i class="fa fa-certificate"></i> Эмитент</a>
{% endif %}

{% if pagedata['certificate'].private %}
<div class="btn-group">
<a class="btn btn-danger" href="/certificate/{{ pagedata['certificate'].id }}/private"><i class="fa fa-key"></i> Закрытый ключ</a>
<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
data-toggle="dropdown"></button>
<div class="dropdown-menu">
<a class="dropdown-item" href="/certificate/{{ pagedata['certificate'].id }}/private/delete" title="Удалить закрытый ключ">Удалить закрытый ключ</a>
</div>
</div>
{% else %}
<a class="btn btn-outline-danger" href="/certificate/{{ pagedata['certificate'].id }}/private"><i class="fa fa-key"></i> Закрытый ключ</a>
{% endif %}

{% if pagedata['certificate'].csr %}
<div class="btn-group">
<a class="btn btn-warning" href="/certificate/{{ pagedata['certificate'].id }}/csr"><i class="fa fa-long-arrow-right"></i> CSR запрос</a>
<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
data-toggle="dropdown"></button>
<div class="dropdown-menu">
<a class="dropdown-item" href="/certificate/{{ pagedata['certificate'].id }}/csr/delete" title="Удалить CSR запрос">Удалить CSR запрос</a>
</div>
</div>
{% else %}
<a class="btn btn-outline-warning" href="/certificate/{{ pagedata['certificate'].id }}/csr"><i class="fa fa-long-arrow-right"></i> CSR запрос</a>
{% endif %}

{% if pagedata['certificate'].public %}
<div class="btn-group">
<a class="btn btn-success" href="/certificate/{{ pagedata['certificate'].id }}/public"><i class="fa fa-key"></i> Открытый ключ</a>
<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
data-toggle="dropdown"></button>
<div class="dropdown-menu">
<a class="dropdown-item" href="/certificate/{{ pagedata['certificate'].id }}/public/delete" title="Удалить открытый ключ">Удалить открытый ключ</a>
</div>
</div>
{% else %}
<a class="btn btn-outline-success" href="/certificate/{{ pagedata['certificate'].id }}/public"><i class="fa fa-key"></i> Открытый ключ</a>
{% endif %}

<a class="btn btn-outline-secondary" href="/certificate/{{ pagedata['certificate'].id }}/generate">Сгенерировать самоподписанный сертификат</a>

</div>
</div>


{{ pagedata['certificate'].description|safe }}

{% if pagedata['certificate'].parent %}
Родительский сертификат <a class="btn btn-outline-secondary" href="/certificate/{{ pagedata['certificate'].parent.id }}">{{ pagedata['certificate'].parent.name }}</a>
{% endif %}

</div>
</div>

{% endblock %}
